<aside class="selection">
  {{liquid-outlet "focus"}}
  <ul class="list">
    {{#each @model as |element|}}
      <li>
        <LinkTo @route="elements.element" @model={{element}}>
          Element #{{element.id}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</aside>
<div class="right">
  <nav>{{liquid-outlet "workspace-nav"}}</nav>
  <main class="main">
    {{liquid-outlet}}
    <div class="map">map</div>
  </main>
</div>
